body {
  font-family: Inter, sans-serif;
  background-image: url("images/final-project-background.jpg");
  background-size: 100%;
}

.cookie {
  font-family: Cookie, cursive;
}

.inter {
  font-family: Inter, sans-serif;
}

.light-blue {
  color: #90caf9;
}

.blue {
  color: #1976d2;
}

.white {
  color: white;
}

.red {
  color: #f47575;
}

.brand {
  font-size: 2.5rem;
}

.nav-container {
  background-color: #90caf9;
  height: 3.8rem;
}
